@font-face {
    font-family: 'AvenirMedium';
    src: url('./fonts/AvenirMedium.eot');
    src: url('./fonts/AvenirMedium.eot?#iefix') format('embedded-opentype'),
        url('./fonts/AvenirMedium.woff') format('woff'),
        url('./fonts/AvenirMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirHeavy';
    src: url('./fonts/AvenirHeavy.eot');
    src: url('./fonts/AvenirHeavy.eot?#iefix') format('embedded-opentype'),
        url('./fonts/AvenirHeavy.woff') format('woff'),
        url('./fonts/AvenirHeavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirLight';
    src: url('./fonts/AvenirLight.eot');
    src: url('./fonts/AvenirLight.eot?#iefix') format('embedded-opentype'),
        url('./fonts/AvenirLight.woff') format('woff'),
        url('./fonts/AvenirLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirBook';
    src: url('./fonts/AvenirBook.eot');
    src: url('./fonts/AvenirBook.eot?#iefix') format('embedded-opentype'),
        url('./fonts/AvenirBook.woff') format('woff'),
        url('./fonts/AvenirBook.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirBlack';
    src: url('./fonts/AvenirBlack.eot');
    src: url('./fonts/AvenirBlack.eot?#iefix') format('embedded-opentype'),
        url('./fonts/AvenirBlack.woff') format('woff'),
        url('./fonts/AvenirBlack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

.avenir {
    &--light {
        font-family: 'AvenirLight';
    }
    &--book {
        font-family: 'AvenirBook';
    }
    &--medium {
        font-family: 'AvenirMedium';
    }
    &--heavy {
        font-family: 'AvenirHeavy';
    }
    &--black {
        font-family: 'AvenirBlack';
    }
}
