body,
html {
    color: $black;
    font-family: Circular, Helvetica, Arial, sans-serif;
    font-smoothing: antialiased;
    overflow-x: hidden;
    text-size-adjust: 100%;
    text-size-adjust: none;
    width: 100%;
}

*,
body,
html {
    margin: 0;
    padding: 0;
}

*,
p {
    margin: 0
}
