// Footer

.footer {
    &__content {
        color: $white;
        position: relative;
        z-index: 10;
        a {
            i {
                color: $white;
                font-size: 22px;
                padding: 7px;
            }
        }
    }
    &__slide {
        &--1 {
            background: rgba($pink, 0.8);
            height: 100px;
            left: -100px;
            margin-bottom: -190px;
            position: relative;
            transform: rotate(-4deg);
            width: 1990px;
            z-index: 10;
        }
        &--2 {
            background: rgba($orange, 0.8);
            height: 100px;
            left: -190px;
            margin-bottom: -139px;
            position: relative;
            top: 30px;
            transform: rotate(-2deg);
            width: 2020px;
            z-index: 0;
        }
    }
}
