// Case Studies

.case-studies {
    &__title {
        position: relative;
        z-index: 5;
        &-background {
            display: block;
            font-size: 65px;
            opacity: 0.05;
            margin-top: -75px;
            z-index: 4;
            @include media-query('mobile-large') {
                font-size: 50px;
                margin-top: -65px;
            }
        }
    }
    &__text {
        max-width: 500px;
        margin: 0 auto;
    }
    &__client {
        img {
            padding: 20px;
            transition-duration: 0.3s;
            transition-timing-function: cubic-bezier(0.49, -0.87, 0.55, 1.71);
            transform: scale(1);
             filter: grayscale(100%);
            &:hover {
                transform: scale(1.1);
                filter: grayscale(0%);
            }
        }
    }
}
