// Footer

.footer {
    height: 300px;
    position: relative;
    &__content {
        position: relative;
        z-index: 10;
        color: $white;
        a {
            i {
                font-size: 22px;
                color: $white;
                padding: 7px;
            }
        }
    }
    &__slide {
        &--1 {
            width: 1990px;
            background: rgba($red, 0.8);
            height: 500px;
            transform: rotate(-5deg);
            position: absolute;
            top: -50px;
            z-index: 7;
            left: -100px;
        }
        &--2 {
            width: 2020px;
            background: rgba($orange, 0.8);
            height: 380px;
            transform: rotate(8deg);
            position: absolute;
            top: 0;
            left: -50px;
        }
    }
}
