// Case Studies

.case-studies {
    &__title {
        position: relative;
        z-index: 5;
        &-background {
            display: block;
            font-size: 65px;
            opacity: 0.05;
            margin-top: -75px;
            z-index: 4;
            @include media-query('mobile-large') {
                font-size: 50px;
                margin-top: -65px;
            }
        }
    }
    &__text {
        max-width: 500px;
        margin: 0 auto;
    }
    &__client {
        img {
            transition-duration: 0.3s;
            transition-timing-function: cubic-bezier(0.49, -0.87, 0.55, 1.71);
            transform: scale(1);
            &:hover {
                transform: scale(1.1);
            }
        }
    }
    &__clients {
        &:hover .logo img {
            opacity: 0.5;
            filter: grayscale(100%);
            filter: blur(1px);
            transition-duration: 0.3s;
            transition-timing-function: cubic-bezier(0.49, -0.87, 0.55, 1.71);
        }
        .logo img:hover {
          opacity: 1.0 !important;
          filter: grayscale(0%);
          filter: blur(0px);
        }
    }
}
