// Hero

.hero {
    padding: 30px 0;
    position: relative;
    &--home {
        // min-height: 70vh;
    }
    &__title {
        &--designer {
            @include media-query('mobile-large') {
                display: block;
            }
        }
        &--web-dev {
            @include media-query('mobile-large') {
                display: block;
            }
        }
    }
    &__wrap {
        min-height: 50vh;
        position: relative;
        z-index: 5;
        h1 {
            font-size: 42px;
            transition-duration: 0.3s;
            transition-timing-function: ease-in-out;
            @include media-query('mobile') {
                font-size: 28px;
            }
        }
        h3 {
            color: $grey--off;
            font-size: 16px;
            letter-spacing: 5px;
            margin: 0;
            padding-top: 10px;
            text-transform: uppercase;
        }
    }
    &__slide {
        &--1 {
            background-color: rgba(255, 255, 255, 0.035);
            height: 500px;
            left: -190px;
            position: absolute;
            top: -300px;
            transform: rotate(-12deg);
            width: 3010px;
            z-index: 2;
        }
        &--2 {
            background-color: rgba(255,255,255,.035);
            height: 780px;
            right: -400px;
            position: absolute;
            top: 0;
            transform: rotate(-62deg);
            width: 1300px;
            z-index: 3;
        }
        &--3 {
            background-color: $black--off;
            bottom: -60px;
            height: 200px;
            position: absolute;
            right: -50px;
            transform: rotate(3deg);
            width: 2000px;
            z-index: 1;
        }
    }
}
