// Header

.header {
    .logo {
        &--main {
            img {
                position: relative;
                z-index: 25;
            }
            @include media-query('tablet') {
                text-align: center;
            }
        }
    }
}
