// Nav

.nav {
    &--main {
        ul {
            float: right;
            li {
                display: inline-block;
                float: left;
                list-style-type: none;
                a {
                    color: $black--slight;
                    letter-spacing: 1px;
                    padding: 0 0 0 35px;
                    transition-duration: 0.3s;
                    transition-timing-function: ease-in-out;
                    @include font-size(14px);
                    &:hover {
                        color: $highlight-color;
                    }
                    @include media-query('tablet') {
                        @include font-size(12px);
                    }
                    @media screen and (max-width: 1330px) {
                        @include font-size(13px);
                        padding: 0 0 0 30px;
                    }
                    @media screen and (max-width: 1250px) {
                        @include font-size(12px);
                        padding: 0 0 0 30px;
                    }
                    @media screen and (min-width: 1330px) {
                        @include font-size(14px);
                    }
                }
            }
        }
    }
}

.uk-offcanvas-bar {
    background: $white;
    box-shadow: 0px 0px 60px -6px rgba(0,0,0,0.39);
    ul {
        li {
            text-align: center;
            padding-bottom: 10px;
            a {
                @include font-size(16px);
                color: $grey--dark;
                transition-duration: 0.3s;
                transition-timing-function: ease-in-out;
                &:hover {
                    color: $highlight-color;
                }
            }
        }
    }
}
