// Hover Effects

.hover {
    &__scale {
        overflow: hidden;
        img {
            transition-duration: 0.7s;
            transition-timing-function: ease-in-out;
            transform: scale(1);
        }
        &:hover {
            img {
                transform: scale(1.1);
            }
        }
    }
}
