$black--jet:     #000;
$black:          #0f0f0f;
$black--off:     #373737;
$black--slight:  #191919;
$white:          #fff;
$grey--dark:     #2e2e2e;
$grey:           #4b4b4d;
$grey--off:      #A6A6A6;
$grey--light:    #F2F2F2;
$blue:           #007fab;
$blue--logo:     #44b6e6;
$blue--light:    rgba($blue, 0.6);
$teal:           #317B92;
$orange:         #F5A623;
$orange--light:  rgba($orange, 0.6);
$red:            #BF1C4C;
$pink:           #EB4747;

$background-color:   $white;
$text-color:         $grey--off;
$highlight-color:    $blue;
