// Backgrounds


.background {
    &--black {
        background: $black;
        width: 100%;
    }
    &--black-off {
        background: $black--off;
        width: 100%;
        h1,
        h2,
        h3,
        h4,
        h5 {
            color: $white;
        }
    }
    &--white {
        background: $white;
        width: 100%;
    }
    &--teal {
        background: $teal;
        width: 100%;
    }
    &--orange {
        background: $orange;
        width: 100%;
    }
    &--orange--light {
        background: $orange--light;
        width: 100%;
    }
    &--grey--dark {
        background: $grey--dark;
        width: 100%;
        color: $white;
    }
    &--grey {
        background: $grey;
        width: 100%;
        color: $white;
    }
    &--grey--light {
        background: $grey--light;
        width: 100%;
    }
    &--blue {
        background: $blue;
        width: 100%;
    }
    &--red {
        background: $red;
        width: 100%;
    }
    &--pink {
        background: $pink;
        width: 100%;
        .hero__slide--3 {
            background-color: $pink;
        }
    }
    &--blue--light {
        background: $blue--light;
        width: 100%;
    }
    &--highlight-color {
        background: $highlight-color;
        width: 100%;
        color: $white;
        h4 {
            color: $white;
        }
    }
}
