$black--jet:     #000;
$black:          #0f0f0f;
$black--off:     #333333;
$black--slight:  #191919;
$white:          #fff;
$grey--dark:     #2e2e2e;
$grey:           #4b4b4d;
$grey--off:      #676767;
$grey--light:    #e5e5e5;
$blue:           #007fab;
$blue--logo:     #44b6e6;
$blue--light:    rgba($blue, 0.6);
$teal:           #00c0be;
$green:          #fbc838;
$orange:         #fa8255;
$orange--light:  rgba($orange, 0.6);
$yellow:         #fff0b2;
$gold:           #fbc838;
$red:            #BE1E2D;
$pink:           #b7315b;

$background-color:   $white;
$text-color:         $grey--off;
$highlight-color:    $blue;
