/**
 * Clear
 */
.cf:after,
%cf:after{
    content: "";
    clear: both;
    display: block;
}

/**
 * Display
 */
.display--block,
%display--block{
    display: block !important;
}

.display--inline,
%display--inline{
    display: inline !important;
}

.display--inline-block,
%display--inline-block{
    display: inline-block !important;
}

.hidden,
%hidden,
.display--none,
%display--none{
    display: none !important;
}

.block--center,
%block--center{
    margin: 0 auto !important;
}

.position--relative,
%position--relative{
    position: relative !important;
}

.text-decoration--none,
%text-decoration--none {
    text-decoration: none !important;
}

.text-align--left,
%text-align--left {
    text-align: left !important;
}

.text-align--right,
%text-align--right {
    text-align: right !important;
}

.text-transform--uppercase,
%text-transform--uppercase {
    text-transform: uppercase !important;
}

.text-transform--lowercase,
%text-transform--lowercase {
    text-transform: lowercase !important;
}

.svg .ie11 .icon--first-utility:before {
    background-image: url('../img/sprites.png') !important;
}

/**
 * Border
 */
.no-border,
%no-border{
    border: 0 !important;
}



/**
 * Min Width
 */
@for $i from 0 through 50 {
    $i: ($i * 20);
    .min-width-#{$i},
    %min-width-#{$i}{
        min-width: #{$i}px !important;
    }
}


/**
 * Max Width
 */
@for $i from 0 through 70 {
    $i: ($i * 20) + 100;
    .max-width-#{$i},
    %max-width-#{$i}{
        max-width: #{$i}px !important;
    }
}

/**
 * Margin
 */
@for $i from 0 through 200 {
    $i: ($i * 5);
    .margin-#{$i},
    %margin-#{$i}{
        margin: #{$i}px !important;
    }
    .margin-tb-#{$i},
    %margin-tb-#{$i}{
        margin: #{$i}px 0 !important;
    }
}

/**
 * Padding
 */
@for $i from 0 through 200 {
    $i: ($i * 5);
    .padding-#{$i},
    %padding-#{$i}{
        padding: #{$i}px;
    }
    .padding-tb-#{$i},
    %padding-tb-#{$i}{
        padding: #{$i}px 0 !important;
    }
    .padding-b-#{$i},
    %padding-b-#{$i}{
        padding-bottom: #{$i}px !important;
    }
    .padding-t-#{$i},
    %padding-t-#{$i}{
        padding-top: #{$i}px !important;
    }
    .margin-#{$i},
    %margin-#{$i}{
        margin: #{$i}px !important;
    }
    .margin-tb-#{$i},
    %margin-tb-#{$i}{
        margin: #{$i}px 0 !important;
    }
    .margin-t-#{$i},
    %margin-t-#{$i}{
        margin-top: #{$i}px !important;
    }
    .margin-b-#{$i},
    %margin-b-#{$i}{
        margin-bottom: #{$i}px !important;
    }
    .padding-mob-#{$i},
    %padding-mob-#{$i}{
        @media only screen and (max-width : 480px) {
            padding: #{$i}px !important;
        }
    }
}
