.current_page_item {
    a {
        color: $highlight-color !important;
    }
}

em {
    color: $text-color;
}

input.gform_button.button {
    background: $black;
    color: $white;
    padding: 10px 25px;
    border: 0;
    text-transform: uppercase;
}

.swiper-scrollbar {}

.pound-icon {
    overflow: hidden;
    &:after {
        content: url(/wp-content/themes/hcvs/build/imgs/pound.png);
        opacity: 0.8;
        position: absolute;
        right: -21px;
        top: -130px;
        transform: scale(0.5);
        z-index: -10;
    }
}

.calendar-icon {
    overflow: hidden;
    &:after {
            content: url(/wp-content/themes/hcvs/build/imgs/calendar.png);
            opacity: 0.8;
            position: absolute;
            right: -291px;
            top: -170px;
            transform: scale(0.5);
            z-index: -10;
    }
}


@include media-query('tablet') {
    li.tribe-events-nav-next,
    li.tribe-events-nav-previous {
        font-size: 0px;
        span {
            font-size: 20px;
        }
    }
    .team__nav.uk-sticky {
        margin-bottom: 0 !important;
    }
}



.tribe-events-meta-group.tribe-events-meta-group-venue,
.tribe-events-meta-group.tribe-events-meta-group-details {
    word-wrap: break-word;
}


@media only screen and (min-width: 770px) and (max-width : 1024px) {
    .hero--home {
        min-height: 58vw;
    }
}


.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.first-text {
    p {
        a {
            color: $white;
            font-weight: 700;
        }
        @media only screen and (max-width: 1236px) {
            font-size: 14px;
        }
    }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .hero__wrap {
        padding-top: 130px;
    }
    .info-block__video::before {
        margin-left: -40px;
    }
}
